@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* Colors */
  --bg: #fff;
  --color-black: #000;
}
